{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "amd": true
  },
  "plugins": ["react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "rules": {}
}
